---
import Layout from '../layouts/Layout.astro';
import HeroKeyLogo from "@/assets/hero-key-logo.webp"
import HeroKeyBackground from "@/assets/hero-key-background.webp"
---

<Layout>
	<div id="logo-mask" class="fixed top-0 w-full h-screen">
		<section>
		  <picture
			id="hero-key"
			class="h-screen scale-125 block overflow-hidden fixed"
		  >
			<img
			  id="hero-key-logo"
			  src={HeroKeyLogo.src}
			  class="absolute w-full h-full object-cover"
			/>
			<img
			  id="hero-key-background"
			  src={HeroKeyBackground.src}
			  class="w-full h-full object-cover"
			/>
		  </picture>
		</section>
	  </div>
</Layout>
